<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestSuit">

  <test name="service">
	  <packages>
		  <package name="me.qiancheng." />
	  </packages>
  </test>

  <test name="controller">
	  <packages>
		  <package name="com.fenqile.live800.controller.*" />
	  </packages>
  </test>

  <test name="util">
	  <packages>
		  <package name="com.fenqile.live800.util.*" />
	  </packages>
  </test>
 
</suite>